body {
  font: 500 18px/1.5 Georgia, serif;
  line-height: 1.6;
}

.row {
  display: flex;
  padding: 5px;
  align-items: baseline;
}

@media (max-width: 600px) {
  .row {
    display: block;
  }
}

.form {
  border-bottom: 3px solid black;
}

.col {
  margin: 5px;
  flex: 1;
}

.github {
  margin-bottom: 30px;
}

span {
  opacity: 1;
  transition: opacity 2s;
}

.invisible {
  opacity: 0;
  color: red;
}

.underline {
  text-decoration: underline;
}

.error {
  color: red;
}

.strong {
  font-weight: bold;
}